.link {
  &:hover {
    color: var(--color-accent-100);
  }

  &:active {
    color: var(--color-accent-500) !important;
  }
}

.text {
  padding-left: 6px;
  @media screen and (max-width: 576px) {
    display: none;
  }
}