@import 'styles/mixins';

.info_wrapper {
  @include flex(row, center, center);

  width: 100%;
  height: 204px;
  margin-top: 10px;
}

.avatar {
  min-width: 204px;
  height: 204px;
}

.info_block {
  @include flex(column, space-between, center);

  flex: auto;
  height: 204px;
  padding: 0 27px;
}

.first_row {
  @include flex(row, space-between, center);

  width: 100%;
}

.second_row {
  @include flex(row, flax-start, center, 80px);

  width: 100%;
}

.third_row {
  @include flex(row, space-between, center);

  align-self: flex-start;
}

.posts {
  @include flex(row, space-between, center, 12px);

  flex-wrap: wrap;
  width: 100%;
}
