@import 'styles/mixins';

.root {
  @include flex(column, flex-start, none, 50px);

  height: 100vh;
}

.info_wrapper {
  @include flex(row, space-between, center);

  width: 100%;
  height: 204px;
  margin-top: 10px;

  @media screen and (width <= 715px) {
    @include flex(column, flex-start, center);

    gap: 50px;
    height: fit-content;
  }
}

.avatar {
  min-width: 204px;
  height: 204px;
}

.info_block {
  @include flex(column, space-between, center);

  width: 100%;
  height: 204px;
  padding: 0 27px;
}

.first_row {
  @include flex(row, space-between, center);

  width: 100%;
}

.second_row {
  @include flex(row, flax-start, center, 80px);

  width: 100%;
}

.third_row {
  width: 100%;
  max-height: 75px;
  overflow-y: scroll;
  align-self: flex-start;
}

.posts {
  @include flex(row, center, center, 20px);

  flex-wrap: wrap;
}

.postImage {
  @include flex(row, center, center);

  position: relative;
  overflow: hidden;
  width: 234px;
  height: 228px;
}

.postImageInner {
  //width: 100%;
  height: 228px;
}

.modal {
  width: 100%;
  max-width: 1000px !important;
}

.badgeImage {
  position: absolute;
  right: 12px;
  bottom: 12px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 26px;
  height: 26px;

  background-color: var(--color-dark-500);
  border-radius: 50%;
}
