@import 'styles/mixins';

.root {
  @include flex(column, flex-start, none, 50px);

  height: 100vh;
}

.info_wrapper {
  @include flex(row, space-between, center);

  width: 100%;
  height: 204px;
  margin-top: 10px;

  @media screen and (max-width: 715px) {
    @include flex(column, flex-start, center);
    gap: 50px;
    height: fit-content;
  }
}

.avatar {
  min-width: 204px;
  height: 204px;
}

.info_block {
  @include flex(column, space-between, center);

  padding: 0 27px;
  width: 100%;

  height: 204px;
}

.first_row {
  @include flex(row, space-between, center);

  width: 100%;
}

.second_row {
  @include flex(row, flax-start, center, 80px);

  width: 100%;
}

.third_row {
  @include flex(row, space-between, center);

  align-self: flex-start;
  overflow-y: scroll;
}

.posts {
  @include flex(row, center, center, 20px);
  flex-wrap: wrap;
}

.postImage{
  @include flex(row, center, center);
  overflow: hidden;
  width: 234px;
  height: 228px;
}

.postImageInner {
  //width: 100%;
  height: 228px;
}

.modal {
  max-width: 1000px !important;
  width: 100%;
}