@import "../../styles/mixins";

.root {
  position: fixed;
  @include flex(column, space-between, center, 100px);
  margin-left: 48px;
  width: fit-content;
  height: 100vh;
  padding-bottom: 200px;
}

.box {
  @include flex(column, space-between, "", 60px);
}
