@import 'styles/mixins';

.root {
  @include flex(row, center, center);

  width: 100%;
  max-width: 1000px;
  background-color: var(--color-dark-300);
}

.imgWrapper {
  width: 50%;
}

.postInfoWrapper {
  @include flex(column, center, center);

  width: 50%;
}

.header {
  @include flex(row, space-between, center);

  width: 100%;
  padding: 11px 24px;
}

.contentWrapper {
  @include flex(column, flex-start, center, 15px);

  scrollbar-width: none;

  overflow-y: scroll;

  width: 100%;
  max-height: 300px;
  padding: 24px 24px 8px;

  border-bottom: 1px solid var(--color-dark-100);
}

.content {
  @include flex(row, flex-start, center, 12px);

  width: 100%;
}

.content_text {
  width: 100%;

  // max-height: 70px;

  // overflow-y: scroll;
}

.comment {
  @include flex(column, center, flex-start, 5px);

  width: 100%;
}

.contentInner {
  @include flex(row, space-between, center);

  width: 100%;
}

.grey {
  color: var(--color-light-900);
}

.bottomBlock {
  @include flex(column, center, flex-start, 19px);

  position: relative;
  width: 100%;
  padding: 12px 24px 55px;
}

.icons {
  @include flex(row, space-between, center);

  width: 100%;
}

.icons div {
  @include flex(row, flex-start, center, 24px);
}

.avatars {
  @include flex(row, flex-start, center, 12px);

  width: 100%;
}

.input {
  position: absolute;
  right: 0;
  bottom: -25px;
  left: 0;

  border-top: 1px solid var(--color-dark-100);
}

.publish {
  position: absolute;
  right: 25px;
  bottom: 27px;
  color: var(--color-accent-700);
}

.avatar_container {
  @include flex(row, center, center);
}

.avatar {
  width: 24px;
  height: 24px;
  margin-left: -15px;
  border-radius: 50%;
}

.border {
  border: 1px solid var(--color-dark-100);
}

.avatar:first-child {
  margin-left: 0;
}

.modalPostEdit {
  width: auto;
  max-width: none;
}
