@import "./../../../styles/mixins";
.main {
  position: fixed;
  z-index: 300;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .title {
    @include flex("", space-between, center);
    width: 100%;
    padding: 12px 24px;
    border-bottom: 1px solid var(--color-dark-100);
  }
}

.overlay {
  position: fixed;
  inset: 0;
  //background-color: rgb(12 12 12 / 58%);
  background-color: var(--color-dark-700);
}

.child {
  display: flex;
  flex-direction: column;
  gap: 15px;

  width: 100%;
  padding: 24px;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 18px 24px;
}

.cover {
  position: relative;
  width: fit-content;
  max-width: 200px;
  margin: 0 auto;

  .img {
    max-width: 200px;
  }
}

.clearCover {
  position: absolute;
  right: 0;
  bottom: 10px;

  width: 20px;
  height: 20px;

  background-color: var(--color-dark-300);
}

// emailSent

.emailSent_wrapper {
  @include flex(column);
  transform: translate(-50%, -50%);
  width: 380px;
  height: 228px;
  border: 1px solid var(--color-dark-100);
  background-color: var(--color-dark-300);
}
