.container {
  cursor: pointer;

  position: relative;

  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.sliderContainer {
  width: 234px;
  height: 240px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;

  width: 234px;

  overflow-wrap: break-word;
}

.user {
  z-index: 1;

  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;

  width: fit-content;
}

.time {
  z-index: 1;
  color: var(--color-light-900);
}

.avatar {
  width: 36px;
  height: 36px;
}

.expanded {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  left: 0;

  margin: 0 auto;
  padding-top: 12px;

  background: var(--color-dark-700);
}

.showMore {
  cursor: pointer;

  position: relative;
  z-index: 1;

  color: var(--color-accent-500);

  border-bottom: 1px solid var(--color-accent-500);

  &:hover {
    border-bottom: none;
  }
}

.link {
  cursor: pointer;
  position: absolute;
  inset: 0;
  display: block;
}
