@import "../../../../styles/mixins";

.trigger {
  @include flex(null, null, center, 12px);
  padding: 0;
  color: var(--color-light-100) !important;

  &:hover {
    color: var(--color-accent-100);
  }
}

