.filterContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 504px;
}
@import "../../../../styles/mixins";

.header{
  height: 60px;
  @include flex(null, space-between, center, 12px);
  padding: 0 0 0 15px;
}
.publicationTitle{
  margin-left: 120px;
}
.sliderContainer{
  width: 492px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.publicationDescriptionBlock{
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.imageContainer {
  width: 492px;
  height: 504px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.imageContainer img {
  width: 492px;
  max-height: 100%;
  object-fit: contain; /* Сохраняет пропорции изображения и помещает его внутрь контейнера */
  object-position: center; /* Центрирует изображение внутри контейнера */
}
.formBlock{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 25px;
  border-bottom: 1px solid var(--color-dark-100);
}

.avatarContainer{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.avatar{
  width: 36px;
}
.numLettersText{
  color: var(--color-light-900);
  display: block;
  text-align: right;
}
.locationBlock{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 25px;
}
.dotsItem {
  cursor: pointer;

  width: 8px;
  height: 8px;

  background-color: var(--color-light-100);
  border-radius: 50%;
}
.dots {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translate(-50%);

  display: flex;
  flex-direction: row;
  gap: 12px;

  padding: 8px;

  background: color-mix(in srgb, var(--color-dark-300) 50%, transparent);
  border-radius: 2px;
}
.dotsItemActive {
  background-color: var(--color-accent-500);
}
