.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px 24px;
}

.buttonGroup {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: end;
}

.button {
  min-width: 96px;
}
