@import "styles/mixins";

.wrapper {
  @include flex(column, center, center, 24px);
  position: relative;
  width: 196px;
  @media screen and (max-width: 576px) {
    width: 100%;
  }

  .avatar {
    width: 192px;
    height: 192px;
    margin-top: 25px;
  }

  .button {
    width: inherit;
  }
}