.alert {
  border-radius: 2px;
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  gap: 24px;

  .text {
    display: flex;
    gap: 5px;
  }
}

.error {
  border: 1px solid rgb(204, 20, 57);
  background: var(--color-danger-900);
}

.success {
  border: 1px solid rgb(20, 204, 112);
  background: var(--color-success-900);
}

.withoutClose {
  justify-content: center;
  gap: 0;
  .text{
    text-align: center;
  }
}