.root {
  margin-top: 132px;
}
.title {
  margin-bottom: 37px;
}
.text {
  margin: 0 0 41px;
  color: var(--color-light-900);
}
.button {
  margin: 24px 0;
}
.hidden {
  width: 100%;
  margin-bottom: 18px;
}
