.title {
  margin-top: 35px;
}

.expired {
  max-width: 300px;
  text-align: center;
  margin: 20px auto 30px;
}

.boy {
  margin-top: 30px;
}

// confirmed

.confirmed {
  margin: 20px auto 55px;
}

.btn {
  width: 182px;
}

.image {
  margin-top: 70px;
}
