.box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  min-width: 150px;
  height: 36px;

  color: var(--color-dark-100);

  border: 1px solid var(--color-dark-300);
  border-radius: 2px;

  transition:
    var(--transtition-duration-basic) background-color,
    var(--transtition-duration-basic) color,
    var(--transtition-duration-basic) border-color;

  &:hover:not(&.disabled) {
    background-color: var(--color-dark-700);
    border: 1px solid var(--color-dark-100);
  }

  &:active:not(&.disabled) {
    color: var(--color-light-100);
    border: 1px solid var(--color-light-100);
  }

  &.disabled {
    opacity: 0.5;
  }

  &:focus-within:not(.error) {
    outline: 2px solid var(--color-info-700);
  }

  &.error {
    color: var(--color-danger-300);
    border: 1px solid var(--color-danger-300);
  }

  &.fullWidth {
    width: 100%;
  }
}

.input {
  width: 100%;
  height: 36px;
  padding: 0 3px;

  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  color: var(--color-light-100);

  background-color: transparent;

  &.slider {
    text-align: center;
  }

  &.error {
    &::placeholder {
      color: var(--color-danger-300);
    }
  }
}

.iconStart {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;
}

.iconEnd {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;
}

.label {
  color: var(--color-light-900);
}

.labelDisable {
  color: var(--color-dark-300);
}

.errorMessage {
  width: 100%;
  height: 24px;
}
