.box {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 24px;
}

.errorBox {
  margin-bottom: 0;
}

.input_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  min-width: 150px;
  height: 36px;

  color: var(--color-dark-100);

  border: 1px solid var(--color-dark-300);
  border-radius: 2px;

  padding: 0 6px;

  &:hover:not(&.disabled) {
    background-color: var(--color-dark-700);
    border: 1px solid var(--color-dark-100);
  }

  &:active:not(&.disabled) {
    color: var(--color-light-100);
    border: 1px solid var(--color-light-100);
  }

  &.disabled {
    opacity: 0.5;
  }

  &:focus-within:not(.error) {
    outline: 2px solid var(--color-accent-700);
  }

  &.error {
    border: 1px solid var(--color-danger-300);
  }

  &.fullWidth {
    width: 100%;
  }
}

.input {
  width: 100%;
  height: 36px;
 padding: 0 2px;

  font-size: var(--font-size-l);
  line-height: var(--line-height-l);
  color: var(--color-light-100);

  background-color: transparent;

  &.slider {
    text-align: center;
  }
}

.iconStart {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;
}

.iconEnd {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;
}

.label {
  color: var(--color-light-900);
}

.labelDisable {
  color: var(--color-dark-300);
}

.errorMessage {
  width: 100%;
  height: auto;
  font-size: var(--font-size-m);
  line-height: var(--line-height-l);
}

.datePickerSpecial {
  margin-bottom: 0;
}
