@import "../../styles/mixins";
.root {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;

  width: 100%;
  height: 60px;
  padding: 12px;

  background-color: var(--color-dark-700);
  border-bottom: 1px solid var(--color-dark-300);
}

.header {
  @include flex("", space-between, center);

  width: 100%;
  //max-width: 1100px;
  margin: 0 auto;
  padding: 0 35px;

  color: var(--color-light-100);
}

.logo {
  font-size: var(--font-size-xxl);
  line-height: var(--line-height-xl);
  font-weight: var(--font-weight-semi-bold);
}

.bell {
  position: relative;
  @include flex("", space-between, center, 50px);
}

.bellMessage {
  position: absolute;
  @include flex("", center, center);
  top: 4px;
  left: 10px;
  min-width: 13px;
  height: 13px;
  padding: 2px;
  font-size: 8px;
  border-radius: 50%;
  color: var(--color-light-100);
  background-color: var(--color-danger-500);
}

.buttons {
  @include flex("", space-between, center, 36px);
}
.buttonsBox {
  @include flex("", space-between, center, 24px);
}
