@import '../../styles/mixins';

.root {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;

  width: 100%;
  height: 60px;
  padding: 12px 60px;

  background-color: var(--color-dark-700);
  border-bottom: 1px solid var(--color-dark-300);

  @media screen and (width <= 576px) {
    padding: 12px 14px;
  }
}

.header {
  @include flex('', space-between, center);

  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  color: var(--color-light-100);
}

.logo {
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-semi-bold);
  line-height: var(--line-height-xl);
}

.wrapper {
  @include flex('', space-between, center, 50px);

  position: relative;

  @media screen and (width <= 576px) {
    @include flex('', space-between, center, 24px);
  }
}

.buttons {
  @include flex('', space-between, center, 36px);
}

.buttonsBox {
  @include flex('', space-between, center, 24px);
}
