.root {
  width: 100%;
  height:100vh;
  padding: 0 40px;
  @media screen and (max-width: 576px) {
    padding: 15px 12px;
    justify-content: normal;
  }
}

.main {
  max-height: calc(100vh - 60px);
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  max-width: 1920px;
  margin: 60px auto 0;
  @media screen and (max-width: 576px) {
    padding: 0;
  }

  &::-webkit-scrollbar {
    //background-color: transparent;
    background-color: var(--color-dark-500);
    width: 5px;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    //background: transparent;
    background-color: var(--color-dark-900);
    border-radius: 10px;
  }
}

.container {
  display: flex;
  flex-direction: row;
}
