.root {
  width: 100%;
  height: 100vh;
  padding: 0 40px;

  @media screen and (width <= 576px) {
    justify-content: normal;
    padding: 15px 12px;
  }
}

.main {
  //overflow-y: auto;
  //overflow-x: hidden;
  width: 100%;
  max-width: 1920px;
  max-height: calc(100vh - 60px);
  margin: 60px auto 0;
  padding: 20px;

  @media screen and (width <= 576px) {
    padding: 0;
  }
}

.container {
  display: flex;
  flex-direction: row;
}
