.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 380px;
  margin: 0 auto;
  padding: 24px;

  background-color: var(--color-dark-500);
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;
  box-shadow:
    1px 1px 2px rgba(0 0 0 / 10%),
    -1px -1px 2px rgba(0 0 0 / 10%);
}

@media screen and (width <= 640px) {
  .card {
    width: 320px;
  }
}
