.slider {
  :global(.slick-list) {
    z-index: 0;
    height: 500px;
  }

  :global(.slick-track) {
    height: 504px;
  }
}

.prevArrow {
  cursor: pointer;

  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.nextArrow {
  cursor: pointer;

  position: absolute;
  z-index: 1;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}
