.title {
  margin-bottom: 12px;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-bottom: 24px;
}
.link {
  align-self: end;
  margin-bottom: 8px;
}

.forgotPassword {
  color: var(--color-light-900);
  padding: 14px 4px;
}

.question {
  text-align: center;
  margin-top: 20px;
}
