.avatar {
  border-radius: 50%;
  background-color: var(--color-dark-500);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;

  .img {
    position: absolute;
    object-fit: contain;
  }
}

.lg {
  width: 204px;
  height: 204px;
}

.md {
  max-width: 48px;
  height: 48px;

  svg {
    width: 22px;
    height: 22px;
  }
}

.sm {
  max-width: 36px;
  height: 36px;

  svg {
    width: 18px;
    height: 18px;
  }
}