@import "../../../styles/mixins";

.root {
  position: fixed;
  @include flex(column, space-between, center, 180px);
  margin-left: 48px;
  width: fit-content;
  height: 100vh;
  padding-bottom: 200px;
}

.row {
  @include flex(null, null, center, 12px);
  &:hover {
    color: var(--color-accent-100);
  }
  &:active {
    color: var(--color-accent-500) !important;
  }
}

.link {
  &:hover {
    color: var(--color-accent-100);
  }
}

.active {
  color: var(--color-accent-500) !important;
}

.box {
  @include flex(column, space-between, "", 60px);
}

.pages {
  @include flex(column, space-between, "", 24px);
}
