@import "../../../../styles/mixins";

.policy {
  @include flex(row, flex-start, flex-start);
  width: 100%;
  margin-top: -10px;
  //border: 1px solid red;
}

.trans {
  @include flex("", flex-start, center, 4px);
  flex-wrap: wrap;
  width: 100%;
  height: 36px;
  padding: 5px;
  margin-bottom: 12px;
}

.button {
  margin: 18px 0 !important;
}

.question {
  margin: 18px 0 8px;
  @media screen and (max-width: 768px) {
    font-size: 14px;
    margin-bottom: 8px;
  }
}

.signInBtn {
  margin-top: 0;
  color: var(--color-accent-500) !important;
}

.emailSent_root {
  position: relative;
  @include flex("", center, center);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 100vh;
  height: 100vh;
  background-color: var(--color-dark-700);
}

.emailSent_wrapper {
  width: 100%;
  margin-top: 30px;
}

.emailSent_text {
  width: 100%;
  padding: 0 24px;
  text-align: start;
  display: block;
}

.emailSent_btn {
  @include flex("", flex-end, center);
  width: 100%;
  padding: 18px 24px 36px;
}

.lastInput {
  padding-bottom: 24px;
}


.signIn {
  margin-top: 12px;

  @media screen and (max-width: 768px) {
    margin-top: 18px;
  }

  .signInLink {
    color: var(--color-accent-500) !important;
  }
}
