@import "../../../../styles/mixins";

.title {
  margin-bottom: 37px;
}

.text {
  margin: 7px 0 17px;
  color: var(--color-light-900);
}

.button {
  margin: 24px 0;
}

.hidden {
  width: 100%;
  margin-bottom: 18px;
}

.rootRecaptcha {
  padding: 8px;
  width: fit-content;
}

.container {
  @include flex("", space-between, center);
  width: 300px;
  height: 80px;
  padding: 12px 20px;
  margin-bottom: 8px;
  border: 1px solid var(--color-dark-300);
  background-color: var(--color-dark-500);
}

.wrapper {
  position: relative;
  @include flex("", space-between, center);
  width: 100%;
}

.expired {
  position: absolute;
  width: 195px;
  top: -10px;
}

.box {
  @include flex("", space-between, center, 10px);
}

.buttonRecaptcha {
  width: 20px;
  height: 20px;
  border: 1px solid var(--color-light-900);
  background-color: var(--color-light-100);
}

.errorRecaptcha {
  border: 1px solid var(--color-danger-80);
}
