html {
  box-sizing: border-box;
  font-size: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
button,
select,
textarea,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;

  border-color: transparent;
}

input[type="search"]::-webkit-search-cancel-button {
  appearance: none;
}

a,
a:link,
a:visited {
  cursor: pointer;
  color: var(--color-light-100);
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

ul,
ul li {
  list-style: none;
}

button,
input[type="submit"] {
  cursor: pointer;

  display: inline-block;

  background-color: transparent;
  border: none;
  box-shadow: none;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

body {
  overflow: hidden;

  width: 100%;
  max-width: 1920px;
  margin: 0 auto;

  font-family: Inter, sans-serif;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
  color: var(--color-light-100);

  background-color: var(--color-dark-700);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background: linear-gradient(
    rgb(255 255 255 / 0%) 0%,
    rgb(0 174 255 / 4%) 50%,
    rgb(255 255 255 / 0%) 51%,
    rgb(0 174 255 / 3%) 100%
  );
  border: 0;
  box-shadow: 0 0 0 1000px transparent inset;

  transition: background-color 5000s ease-in-out 0s;

  -webkit-text-fill-color: #fff;
}
