@forward 'colors';
@forward 'typography';
@forward 'mixins';
@forward 'globals';

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;

  max-width: 956px;
  margin: 0 auto;
}
