.title {
  text-align: left;
  @media screen and (max-width: 576px) {
    padding: 4px 0;
    font-size: var(--font-size-x);
    line-height: var(--line-height-l);
  }
}

.center {
  text-align: center;
}