/* reset */
//button {
//  all: unset;
//}
.label{
  color: var(--color-dark-100);
}

.Container {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.SelectTrigger {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
  width: 210px;

  height: 24px;
  padding: 6px 12px;

  font-size: var(--font-size-s);
  line-height: 1;
  color: var(--color-light-100);

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  border-radius: 2px;

  &.pagination {
    width: 50px;
    padding: 0 6px;
  }

  &:focus-within {
    border: 2px solid var(--color-info-700);
  }
}

.SelectIcon {
  color: var(--color-light-100);
}

.SelectContent {
  overflow: hidden;
  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  border-radius: 2px;
}

//.SelectViewport {
//  //padding: 5px;
//  width: 100%;
//}

.SelectItem {
  user-select: none;

  position: relative;

  display: flex;
  align-items: center;

  width: 208px;
  height: 25px;
  padding: 6px 12px;

  font-size: 13px;
  line-height: 1;
  color: var(--color-light-100);

  &.pagination {
    width: 48px;
    padding: 0 6px;
  }
}

.SelectItem[data-disabled] {
  pointer-events: none;
  color: var(--color-light-100);
}

.SelectItem[data-highlighted] {
  color: var(--color-accent-300);
  background-color: var(--color-accent-900);
  outline: none;
}
